@use "../../scss/breakpoint" as *;

.movie-list {
    .swiper-slide {
        width: 15%;
        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }

    .swiper-slide,
    .swiper-slide {
        height: auto;
        position: relative;
    }
    .swiper-horizontal {
        padding: 8px;
    }
}
