@use "../../scss/" as *;

button {
    cursor: pointer;
    font-family: $font-family;
    border-radius: $border-radius;
    padding: 0.5rem 1.8rem;
    white-space: normal;
    text-align: center;
    width: fit-content;
    display: flex;
    align-items: center;

    &:hover {
        //  opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

/*


*/

.primary {
    border: 4px solid transparent;
    background-color: var(--main-color);
    color: $white;
    box-shadow: 0px 0px 7px 8px var(--color-shadow);
    transition: box-shadow 0.3s ease;
    position: relative;

    &:hover {
        box-shadow: 0px 0px 7px 15px var(--color-shadow);
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: $white;

    &:hover {
        box-shadow: 0px 0px 0px 0px;
    }
}

.outline {
    border: 3px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;
    &:not([disabled]):hover {
        box-shadow: unset;
        color: $main-color;
        background-color: $white;
    }
}

/* .outline:hover {
    box-shadow: unset;
    color: $main-color;
    background-color: $white;
} */

.load {
    width: 100%;
    border-radius: 8px;
    background-color: var(--main-color);
    color: var(--text-color-inverted);
    border: none;
    font-size: 24px;
    &:not([disabled]):hover {
        box-shadow: unset;
        color: var(--text-color);
    }
}

.btn.small {
    border-width: 2px;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
}

.disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
    //pointer-events: none;
    /* &:hover {
        box-shadow: none;
        color: var(--text-color-inverted);
    } */
}
