@use "../../../scss/" as *;

.LoginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    & > * ~ * {
        margin-top: 20px;
    }
}

.placeholder {
    margin-right: 10px;
}

.loginBtn {
    margin-left: auto;
}

.InputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
}

.error {
    display: flex;
    align-items: center;
}

.errorText {
    color: $error;
}
