@use "../../scss/variables" as *;

.catalogLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    //height: 100vh;
    flex: 1 0 auto;
}

.title {
    text-align: center;
    color: var(--text-color);
    margin-left: auto;
}

.catalog {
    flex: 1 0 auto;


    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-bottom: 10px;
    }

    &__header {
        text-align: center;
        margin-bottom: 1rem;
        padding: 6rem 0 2rem;

        position: relative;

        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
            position: relative;
            z-index: 99;
            color: var(--text-color);
        }

       /*  &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
        } */
    }
}
