.catalogLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    //height: 100vh;
    flex: 1 0 auto;
}

.title {
    text-align: center;
    color: var(--text-color);
}

.catalog__header {
    display: flex;
    align-items: center;
    justify-content: center;
}
