.profilePage {
   // height: 70vh;
    //height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 2rem;
    //margin-top: 128px;
}
