@use "../../scss/" as *;

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    //grid-template-rows: repeat(minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 3rem;
    //min-height: 1160px;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.movie-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie__content {
    padding: 0 2rem;
    color: var(--text-color);
   // max-width: 1660px;
   // margin: auto;
    //height: calc(79vh - 128px); //height:67vh;
    //height:67vh;
    // overflow: auto;
}

.container__content {
    max-width: 1660px;
    margin: auto;
}
