.AddCommentForm {
    // border: 1px solid var(--primary-color);
    border: 1.2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .InputWrapper {
        width: 100%;
    }

    input {
        width: 100%;
        border-radius: 0;
        border-bottom: 1px solid #2727271a;
        background-color: var(--bg-primary);
        &:hover,
        &:focus {
            box-shadow: 0 0 0 1px var(--bg-primary);
            border-bottom: 2px solid var(--text-color);
        }
    }
}
