@use "../../scss/" as *;

.beta {
    position: absolute;
    color: #787878;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    left: 202px;
    top: -10px;
}

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: height 0.3s ease, background-color 0.3s ease;
    background-color: var(--header-color);

    &__wrap {
        max-width: 1660px;
        margin: auto;
        @include flex(center, space-between);
        height: 100%;
        padding: 0 2rem;

        @include mobile {
            justify-content: center;
        }
    }
}
