.dark_theme {
    --bg-primary: #0f0f0f;
    --bg-secondary: #232325;
    --bg-input: #272727;
    --inverted-bg-color: #fff;

    --header-shrink: #1a1a1a;
    --header-color: #1a1a1a91;

    --button-shrink: #6e6e6e3d;
    --button-shrink-hover: #2f2f2f80;

    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
    --main-color: #ff0000;
    --color-shadow: #ff00004d;
    --text-color: #fff;
    --text-color-inverted: #0a1526;
    --hover-grey: #ebebeb;
    // --text-hover: #ff0000;
    --overlay-color: rgba(0, 0, 0, 60%);

    // skeleton
    --skeleton-color: rgb(33, 33, 33);
}
