.dark_theme {
    --bg-primary: #0f0f0f;
    --bg-secondary: #232325; /*  rgb(35, 35, 37) */
    --header-color: #1a1a1a91;
    --bg-input: #1a1a1a91;
    --header-shrink: #1a1a1a;
    --inverted-bg-color: #fff;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
    --main-color: #ff0000;
    --color-shadow: #ff00004d;
    --text-color: #fff;
   // --text-hover: #ff0000;
    --overlay-color: rgba(0, 0, 0, 60%);
}
