@use "../../scss/" as *;

.movie-search {
    position: relative;
    width: 100%;
    max-width: 500px;

    input {
        width: 100%;
        padding-right: 8rem;
    }

    button {
        position: absolute;
        right: -1px;
        top: 5%;
    }

    .btn.small {
        background: #ff0000;
        padding: 7px 24px;
        margin-top: -19px;
        @include tablet {
            margin-top: -15px;
            padding: 6px 19px;
        }
        @include mobile {
            margin-top: -10px;
            padding: 0.25rem 1.5rem;
        }
    }
}
